*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    width: 100vw;
    height: 30vh;
    background-color:darkcyan;
    margin-bottom: 10px;
}

.header{
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;

}

.navdet{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size:x-large;
   

}
.heading{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
   border-radius: 5px;
    background-color: white;
    border-color: orange;

}
.p1{
    padding: 20px;
}

.p2{
    padding: 20px;
}

.p3{
    padding: 40px;
}

.button1{
    
}

.p1 a{
    text-decoration: none;
}

.p2 a{
    text-decoration: none;
}

.p3 a{
    text-decoration: none;
}


body{
    width: 100vw;

}
.charCont {
    width: 100%;
    display: flex;
    flex-wrap: wrap
    
    
}
.container{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    cursor: pointer;
    flex-wrap: nowrap;
    width: 400px;
    height: 600px;
    background-color:dimgray;
    margin: 0 10px 10px 10px;
    
       
}

.container:hover{
    background-color: yellow;
    
}
.details{
    display:block;
    
}
h1{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;
}
footer{
    background-color: black;
    font-family:'Times New Roman', Times, serif;
    height: 50vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer a {
    text-decoration: none;
    color: white;
}

.link1{
    padding: 20px;
}

.link2{
    padding: 20px;
}

.link3{
    padding: 20px;
}

.link4{
    display: flex;
    align-items: center;
    justify-content: center;
}



